LIVEKIT_URL = "wss://egyptian-dialect-0rmq5d48.livekit.cloud"
LIVEKIT_API_KEY = "API_______"
LIVEKIT_API_SECRET = "ck...."
DEEPGRAM_API_KEY = "2132..."
CARTESIA_API_KEY = "sk_...."
OPENAI_API_KEY = 'sk-proj--....'
LLM_BASE_URL = "http://localhost:8000/v1"
LLM_MODEL_NAME = "..."
